body{
  text-align: center;;
  display: flex;
	flex-direction: column;
	align-items: center;
}
table{
  margin: 0 auto;
}
.btn{
  height: 125px;
  width: 125px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  text-align: center;
  font-size: 0%;
  
}
.btn:hover {
  font-size: 500%;
  color: rgba(0, 0, 0, 0.3);
}
.btn.clicked {
  color: rgba(0, 0, 0,1);
  font-size: 500%;
  background: #6eb3de
  
}

.wintext,
.drawtext {
  text-align:center;
  font-size: 200%;
  opacity: 0;

 
}
.buttonr{
  height: 110px;
  width: 125px;
  font-size: 150%;
  
  
}
.wintext.Lopa{
  text-align:center;
  font-size: 200%;
  opacity: 0;
}
.wintext.Hopa{
  text-align:center;
  font-size: 200%;
  opacity: 1;
}

